body{
    margin: 0;
    text-align:center;
    position: relative;
    font-size: 1em;
}
.top-container{
    background-color: #40BFC1;
    padding-top: 100px;
    position: relative;
}
h1{
    margin: 0 auto 20px auto;
    width:40%;
    font-family: 'Sacramento', cursive;
    font-size: 4.625rem;
}
#sun{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 50px;
    top:20px;
}
#hello{
    margin: 20px auto 20px auto;
    width: 20%;
    font-size: 2rem; 
    color: blueviolet;

}
p{
    font-family: 'Quicksand', sans-serif;
    width: 40%;
    margin: 0 auto 0 auto;
    font-size: 1.5rem;
}
#speed{
    height: 300px;
    width: 300px;

   
}
#top-cloud{
    height: 200px;
    width: 200px;
    margin-left: 30%;

}
hr{
    border: 8px dotted blueviolet;
    border-bottom: none;
    width:8%;
    margin: 20px auto 20px auto;
    
}
#personal{
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin: 50px auto 0 auto;
}
#rain{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 20%;
}
#intro{

    margin: 0 auto 20px auto;
}
#avtar{
height: 100px;
width: 100px;
position: absolute;
left: 50px;
top: 60px;
border-radius: 50%;


}
.bottom{
    background-color: #40BFC1;
    height: 100px;
    padding: 50px 0 20px;
}
a{
    margin:10px 20px;
    text-decoration: none;
   
}
