body{
    margin: 0;
    text-align:center;
    position: relative;
    font-size: 1em;
    background-color: #40BFC1;
}
.top-container{
    background-image:linear-gradient(to bottom, rgb(208, 161, 59), #40BFC1);
    padding-top: 100px;
    position: relative;
}
h1{
    margin: 0 auto 20px auto;
    width:40%;
    font-family: 'Sacramento', cursive;
    font-size: 4.625rem;
    color: rgb(75, 136, 137);
}
#sun{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 50px;
    top:20px;
}
#hello{
    margin: 20px auto 20px auto;
    width: 20%;
    font-size: 2rem; 
    color: rgb(236, 222, 116);

}
p{
    font-family: 'Quicksand', sans-serif;
    width: 50%;
    margin: 40px auto 40px auto;
    font-size: 1.5rem;
    color: white;
}
#speed{
    height: 300px;
    width: 300px;

   
}
#top-cloud{
    height: 200px;
    width: 200px;
    margin-left: 30%;

}
hr{
    border: 8px dotted  rgb(236, 222, 116);
    border-bottom: none;
    width:8%;
    margin: 20px auto 20px auto;
    
}
#personal{
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin: 50px auto 0 auto;
}
#rain{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 20%;
  
}
#intro{

    margin: 0 auto 20px auto;
}
#avtar{
height: 100px;
width: 100px;
position: absolute;
left: 50px;
top: 60px;
border-radius: 50%;


}
.bottom{
    background-image:linear-gradient(to bottom, #40BFC1,rgb(59, 226, 120));
    height: 100px;
    padding: 50px 0 20px;
    margin-bottom:0;
}
a{
    margin:10px 20px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:rgb(54, 130, 132);
   
}
a:hover{
    color:rgb(231, 243, 243);
}
#foot{
    margin-top: 20px;
    font-size: 20px;
    color:white;
}
h2{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(236, 222, 116);
}
#boost{
height: 200px;
width: 200px;
position: absolute;
left: 20px;
}
span{
    text-decoration: underline;
}

